.main{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 5rem;
  flex: 1;
}



.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-story{
  /* height: 200px;
  width: 200px; */
  /* background-color: green; */
  flex: 1;
  padding: 20px
  /* float: left; */
}

.right-story{
  /* height: 200px;
  width: 200px; */
  /* background-color: red; */
  flex: 1;
  padding: 20px;
  /* float: right; */
}

.right-story img{
  float: left;
  height: 250px;
  /* width: 200px; */
  margin-right: 50px;
}

.left-story img{
  float: left;
  height: 250px;
  /* width: 200px; */
  margin-right: 50px;
}
/* img{
  width: 200px;
  height: 200px;
  float: left;
} */